*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sem serifa;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
}
.cabecalho-imagem{
    width: 13%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 23%;
}

.escola{
    background-image: linear-gradient(#424E61,#4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 25px 0
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}